html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
  }
  html { height: 101%; } /* always display scrollbars */
  body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
  ol, ul { list-style: none; }
  
  blockquote, q { quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
  strong { font-weight: bold; } 
  
  input { outline: none; }
  
  table { border-collapse: collapse; border-spacing: 0; }
  img { border: 0; max-width: 100%; }
  
  a { text-decoration: none; }
  a:hover { text-decoration: none; }
  
  
  html {
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
  }
  
  body {
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.4;
  }
  
/* LOADER */

.mask {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader svg {
    overflow: visible;
    width: 100px;
    height: 150px;
}

.loader svg g {
    animation: preloader-1-slide 2s linear infinite;
}

.loader svg g:nth-child(2) {
    animation-delay: 0.5s;
}

.loader svg g:nth-child(2) path {
    animation-delay: 0.5s;
    stroke-dasharray: 0px 158px;
    stroke-dashoffset: 1px;
}

.loader svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
    animation: preloader-1-escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes preloader-1-slide {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes preloader-1-escalade {
    0% {
        stroke-dasharray: 0 157px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: -156px;
    }
}

.hide {
    opacity: 0;
}


  /* HEADER */
  header {
      height: 100px;
      background-color: #2056D8;
  }
  
  .nav_menu {
      max-width: 1160px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 70px;
      padding-right: 70px;
      display: flex;
      justify-content: space-between;
      justify-items: center;
      transform: translate(0px, -50%);
      opacity: 0;
      transition: all 1s ease 0s;
  }
  .nav_menu._active {
      transform: translate(0px, 0px);
      opacity: 1;
  }
  .nav_menu a {
      text-decoration: none;
      color: #ffff;
  }
  .logotype {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
  }
  
      .text_logo {
          color: rgb(255, 255, 255);
          font-size: 24px;
          font-family: 'Yanone Kaffeesatz', sans-serif;
          padding-top: 10px;
          padding-left: 5px;
      }
  
  .header_burger {
      display: none;
  }
  
  .nav_bar {
      display: flex;
      justify-content: space-between;
      justify-items: center;
      list-style: none;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      padding-top: 40px;
  }
  
  .nav_bar a {
      display: inline-block;
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      position: relative;
  }
  
  .nav_bar a:after {
      display: block;
      content: "";
      background-color: #ffffff;
      height: 3px;
      width: 0%;
      left: 50%;
      position: absolute;
      -webkit-transition: width .3s ease-in-out;
      -moz--transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  
  .nav_bar a:hover:after,
  .nav_bar a:focus:after {
      width: 100%;
  }
  
      .nav_button_2 {
          padding-left: 64px;
      }
  
      .nav_button_3 {
          padding-left: 64px;
      }
  
      .nav_button_4 {
          padding-left: 64px;
      }
  
  .profile {
      padding-top: 35px;
  }


  .section_2 {
    position: relative;
    width: 100%;
    background-color: #3C69DC;
}

.section_2 .wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: animate_2 25s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate_2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}


/* CONTENT BLOCK */
main {
    background-color: #3C69DC;
}

/* BLOCK 6 */
.content_block {
    max-width: 100%;
    height: 930px;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 130px;
    padding-bottom: 100px;
}

.container_block {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    display: flex;
}

.text_content_block {
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.text_content_block._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.text_content {
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.text_content._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.button_block {
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.button_block._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.text_content_block h3 {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    max-width: 800px;
    letter-spacing: 5px;
}

.text_address {
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    max-width: 630px;
    padding-top: 48px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.text_address._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.phone_number_1 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    max-width: 260px;
    padding-top: 57px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.phone_number_1._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.phone_number_2 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    max-width: 320px;
    padding-top: 30px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.phone_number_2._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.phone_number_3 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    max-width: 230px;
    padding-top: 30px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.phone_number_3._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.phone_number_4 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    max-width: 290px;
    padding-top: 30px;
    transform: translate(-50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.phone_number_4._active {
    transform: translate(0px, 0px);
    opacity: 1;
} 

.button_block {
    text-align: left;
    padding-top: 35px;
}

.button_block a{
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 17px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.button_block a:hover{
    display: inline-block;
    background: #ffffff;
    border: 3px solid #018EF4;
    color: #018EF4;
    padding: 14px;
    padding-right: 21px;
    padding-left: 21px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.map {
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}

.map._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

/* FOOTER */

.line {
    height: 50px;
    width: 100%;
    background-color: #3C69DC;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.section_3 {
    position: relative;
    width: 100%;
    background-color: #3C69DC;
}

.section_3 .wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: animate_3 20s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate_3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

footer {
    width: 100%;
    height: 511px;
    background-color: white;
}

.footer_content {
    background-color: white;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.footer_content a {
    transition: 0.5s;
}

.footer_content a:hover {
    transform: scale(1.06); 
}

.logotype_footer {
    padding-top: 100px;
    display: flex;
}   

.text_logo_footer {
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 20px;
    padding-top: 24px;
}

    .footer_logo_name_1 {
        color: #2056D8;
    }

    .footer_logo_name_2 {
        color: #018EF4;
    }

.text_info {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top: 90px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #2056D8;
}

.text_info p {
    text-align: center;
}

    .text_info_1 {
        max-width: 250px;
    }

    .text_info_2 {
        max-width: 250px;
        padding-left: 20px;
    }

    .text_info_3 {
        max-width: 250px;
        padding-left: 20px;
    }

.social_network {
    padding-top: 100px;
    max-width: 276px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.social_network p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #2056D8;
    padding-left: 15px;
}

.social_network_bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 276px;
    padding-top: 25px;
    transition: 0.5s;
}

.social_network_bar li{
    transition: 0.5s; 
}

.social_network_bar li:hover {
    transform: scale(1.2); 
}


    .instagram_icon {
        padding-top: 3px;
    }

    .telegram_icon {
        padding-top: 3px;
    }