* {
    padding: 0;
    margin: 0;
}

header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* LOADER */

.mask {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader svg {
    overflow: visible;
    width: 100px;
    height: 150px;
}

.loader svg g {
    animation: preloader-1-slide 2s linear infinite;
}

.loader svg g:nth-child(2) {
    animation-delay: 0.5s;
}

.loader svg g:nth-child(2) path {
    animation-delay: 0.5s;
    stroke-dasharray: 0px 158px;
    stroke-dashoffset: 1px;
}

.loader svg path {
    stroke: url(#gradient);
    stroke-width: 20px;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 0 157px;
    stroke-dashoffset: 0;
    animation: preloader-1-escalade 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

@keyframes preloader-1-slide {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(50px);
    }
}
@keyframes preloader-1-escalade {
    0% {
        stroke-dasharray: 0 157px;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 156px 157px;
        stroke-dashoffset: -156px;
    }
}

.hide {
    opacity: 0;
}

/* HEADER */
header {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    height: 1000px;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    transform: translate(0px, -50%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.nav_menu._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.logotype {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

    .text_logo {
        color: rgb(255, 255, 255);
        font-size: 22px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        padding-top: 10px;
        padding-left: 5px;
    }

.header_burger {
    display: none;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    list-style: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
}

.nav_bar a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.nav_bar a:after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav_bar a:hover:after,
.nav_bar a:focus:after {
    width: 100%;
}

    .nav_button_2 {
        padding-left: 64px;
    }

    .nav_button_3 {
        padding-left: 64px;
    }

    .nav_button_4 {
        padding-left: 64px;
    }

.profile {
    padding-top: 25px;
}

.header__text {
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 508px;
    height: 178px;
    padding-top: 351px;
    transition: 1s;
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all 0.7s ease 0s;
}
.header__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.header__text:hover {
    transform: scale(1.1); 
}

.header_button {
    padding-top: 210px;
}

.scroll_button {
    margin: 0 auto;
    width: 60px; 
    height: 60px;
    background: rgb(255, 255, 255);
    border: 2px solid #2056D8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .scroll_button .arrow {
        line-height: 100%;
    }


/* BLOCK 1 */
.block_1 {
    background-color: white;
    height: 1160px;
}

.Foliage_content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

    .Foliage_1 {
        padding-top: 350px;
    }

    .Foliage_2 {
        padding-top: 90px;
    }

.pozition_drop {
    display: flex;
    justify-content: center;
}

.Drop_content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
}

    .Drops {
        position: absolute;
        padding-top: 50px;
        padding-right: 150px;
    }
    .Drop_text {
        position: relative;
        padding-top: 300px;
    }

/* BLOCK 2 */
.section_1 {
    position: relative;
    width: 100%;
    background-color: white;
}

.section_1 .wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: animate_1 25s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate_1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

.block_2 {
    width: 100%;
    height: 700px;
    background-color: #2056D8;
}
    
.block_2_content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    height: 1000px;
    padding-top: 80px;
}

.block_2_content div {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.scale_icon_block_2 {
    transition: 0.5s;
}

.scale_icon_block_2:hover {
    transform: scale(1.2); 
} 

.block_2_content_1 {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.block_2_content_2 {
    max-width: 713px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 160px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
    /* block_2_content_1 */
    .water_supply {
        padding-top: 20px;
        padding-left: 25px;
    }
    .text_water_supply {
        padding-top: 34px;
    }

    .sewage_system {
        padding-top: 20px;
        padding-left: 15px;
    }
    .text_sewage_system {
        padding-top: 30px;
        padding-left: 2px;
    }

    .treatment {
        padding-top: 20px;
        padding-left: 15px;
    }
    .text_treatment {
        padding-top: 40px;
        padding-left: 15px;
    }

    .ecology {
        padding-top: 0px;
        padding-left: 0px;
    }
    .text_ecology {
        padding-top: 0;
        padding-left: 30px;
    }

    /* block_2_content_2 */
    .clients {
        padding-top: 20px;
        padding-left: 25px;
    }
    .text_clients {
        padding-top: 18px;
        padding-left: 28px;
    }

    .job_openings {
        padding-top: 20px;
        padding-left: 15px;
    }
    .text_job_openings {
        padding-top: 30px;
        padding-left: 12px;
    }

    .contacts {
        padding-top: 26px;
        padding-left: 25px;
    }
    .text_contacts {
        padding-top: 40px;
        padding-left: 15px;
    }

.section_2 {
    position: relative;
    width: 100%;
    background-color: white;
}

.section_2 .wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: animate_2 25s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate_2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
/* BLOCK 3 */
.block_3{
    width: 100%;
    height: 1680px;
    background-color: white;
}

.title_news {
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
}

.title_news h1{
    position: absolute;
    padding-top: 30px;
    font-size: 96px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.title_news h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 1px #3C69DC;
}

.title_news h1:nth-child(2) {
    color: #3C69DC;
    animation: animate_news 3s ease-in-out infinite;
}

@keyframes animate_news {
    0%, 100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

.news {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    height: 1000px;
    padding-top: 80px;
    transform: translate(0px, 20%);
    opacity: 0;
    transition: all 1s ease 0s;
}
.news._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.news_pozition {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 50px;
    padding-top: 250px;
}

.card_content {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.card_content:hover {
    transition: box-shadow 0.2s;
    border-radius: 15px;
    cursor: pointer;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-box-shadow: 1px 1px 50px #3C69DC;
            box-shadow: 1px 1px 50px #3C69DC;
}

.card_content {
    filter: grayscale(100%);
    transition: all 1s ease 0s;
}
.card_content:hover {
    filter: grayscale(0%);
}

    .centered {
        text-align: center;
        padding-top: 200px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
    }

/* BLOCK 4 */
.block_4 img {
    width: 100%;
    height: 90px;
}

.block_4_text {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 905px;
    text-align: center;
    margin: auto;
    padding-top: 300px;
    transition: 0.7s;
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 2s ease 0s;
}
.block_4_text._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.block_4_text:hover {
    transform: scale(1.1); 
}

.black {
    padding-top: 340px;
}

/* BLOCK 5 */
.block_5 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.block_5 {
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    height: 535px;
}

.container_block_5 {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    color: white;
}

h2 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.feedback_content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    transform: translate(50%, 0px);
    opacity: 0;
    transition: all 1s ease 0s;
}
.feedback_content._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.feedback_img_content {
    position: relative;
}

    .feedback_img_content img {
        padding-top: 10px;
        position: absolute;
        padding-left: 50px;
    }

    .rectangle {
        width: 496px;
        height: 200px;
        background-color: #3C69DC;
        position: absolute;
        top: 150px;
    }

.feedback_text_content {
    padding-top: 20px;
    padding-right: 600px;
}

    .feedback_title_name {
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        padding-left: 160px;
        position: absolute;
    }

    .feedback_text {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        text-align: justify;
        width: 560px;
        padding-top: 90px;
        position: absolute;
    }

    .quotation_marks {
        position: absolute;
        padding-top: 30px;
    }

.button_block_5 {
    padding-top: 400px;
    padding-left: 750px;
    position: absolute;
}
    
.button_block_5 a{
    display: inline-block;
    background: #3C69DC;
    color: #fff;
    padding: 17px;
    padding-right: 24px;
    padding-left: 24px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

    
.button_block_5 a:hover{
    display: inline-block;
    background: rgb(0, 0, 0);
    border: 3px solid #3C69DC;
    color: #fff;
    padding: 14px;
    padding-right: 21px;
    padding-left: 21px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

/* BLOCK 6 */
.block_6 {
    background-color: #3C69DC;
    max-width: 100%;
    height: 930px;
}

.container_block_6 {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    display: flex;
}
.text_content_block_6 h3 {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    max-width: 536px;
    letter-spacing: 5px;
}

.text_address {
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    max-width: 630px;
    padding-top: 48px;
}

.phone_number {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    max-width: 269px;
    padding-top: 57px;
}

.button_block_6 {
    text-align: left;
    padding-top: 53px;
}

.button_block_6 a{
    display: inline-block;
    background: #2196f3;
    color: #fff;
    padding: 17px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.button_block_6 a:hover{
    display: inline-block;
    background: #ffffff;
    border: 3px solid #018EF4;
    color: #018EF4;
    padding: 14px;
    padding-right: 21px;
    padding-left: 21px;
    border-radius: 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
}

.leafs {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

    .leaf_1 {
        padding-top: 50px;
        max-width: 142px;
        max-height: 142px;
        transition: 1s;
    }
    .leaf_1:hover {
        transform: scale(1.1); 
    }

    .leaf_2 {
        padding-right: 350px;
        padding-top: 15px;
        max-width: 105px;
        max-height: 105px;
        transition: 1s;
    }
    .leaf_2:hover {
        transform: scale(1.1); 
    }


/* FOOTER */
footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.section_3 {
    position: relative;
    width: 100%;
    background-color: #3C69DC;
}

.section_3 .wave {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    animation: animate_3 20s linear infinite;
    z-index: 1000;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate_3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

footer {
    width: 100%;
    height: 511px;
    background-color: white;
}

.footer_content {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.footer_content a {
    transition: 0.5s;
}

.footer_content a:hover {
    transform: scale(1.06); 
}

.logotype_footer {
    padding-top: 100px;
    display: flex;
}   

.text_logo_footer {
    font-size: 45px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 20px;
    padding-top: 40px;
}

    .footer_logo_name_1 {
        color: #2056D8;
    }

    .footer_logo_name_2 {
        color: #018EF4;
    }

.text_info {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top: 90px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #2056D8;
}

.text_info p {
    text-align: center;
}

    .text_info_1 {
        max-width: 250px;
    }

    .text_info_2 {
        max-width: 250px;
        padding-left: 20px;
    }

    .text_info_3 {
        max-width: 250px;
        padding-left: 20px;
    }

.social_network {
    padding-top: 100px;
    max-width: 276px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 70px;
}

.social_network p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #2056D8;
    padding-left: 15px;
}

.social_network_bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 276px;
    padding-top: 25px;
    transition: 0.5s;
}

.social_network_bar li{
    transition: 0.5s; 
}

.social_network_bar li:hover {
    transform: scale(1.2); 
}


    .instagram_icon {
        padding-top: 3px;
    }

    .telegram_icon {
        padding-top: 3px;
    }


/* ADAPTATION */
@media(max-width: 1100px){
    /* HEADER */
    header {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 70px;
        padding-right: 70px;
        height: 1000px;
    }

    .nav_bar {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        list-style: none;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding-top: 40px;
    }

        .nav_button_2 {
            padding-left: 20px;
        }

        .nav_button_3 {
            padding-left: 20px;
        }

        .nav_button_4 {
            padding-left: 20px;
        }


    /* FOOTER */
    .footer{
        width: 100%;
    }

}

@media(max-width: 880px){
    /* HEADER */
    header {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 70px;
        padding-right: 70px;
        height: 1000px;
    }

    .nav_menu {
        display: flex;
        justify-content: space-between;
        justify-items: center;
    }

    .text_logo {
        display: none;
    }

    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: 20px;
    }

    .header_burger span {
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }

    .nav_bar {
        display: none;
    }

    .profile {
        display: none;
    }

    /* FOOTER */
    .footer{
        width: 100%;
    }

}

    

